/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    background-color: #35424a;
    color: white;
    text-align: center;
    padding: 20px;
}

h1, h2, h3 {
    margin: 0 0 10px 0;
}

main {
    padding: 20px;
    margin: 20px;
}

/* Margin and padding adjustments */
article, section, p, aside, h2, h3 {
    margin: 10px 0;
    padding: 10px;
}

/* Navigation styling */
nav {
    background-color: #35424a;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 10px;
    font-size: 18px;
}

nav a:link {
    text-decoration: underline;
}

nav a:visited {
    text-decoration: underline;
}

nav a:hover {
    text-decoration:wavy;
}

nav a:active {
    text-decoration:none;
    color:  rgb(97, 95, 95); 
}

/* Section styling */
.movie-section, .about-movie {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.movie-details {
    background-color: #f0f0f0;
    padding: 10px;
    margin-top: 10px;
}

/* Image styling */
.movie-image {
    display: block;
    max-width: 90%;
    height: auto;
    margin: 0 auto;
}

/* Footer styling */
footer {
    background-color: #35424a;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}